{% extends 'base/base.html' %}
{% block content %}
   <section class="vh-100" style="background-color: #3b3939;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Create Room</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form action="{% url 'create_room' %}" method="POST">
                {% csrf_token %}

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Room name</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control" rows="3" placeholder="" name="room_name" value="{{room_form.room_name.value}}">

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Pin</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control" rows="3" placeholder="add password to make the room private!(Optional)" name="password" value="{{room_form.Pin.value}}">

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Bio</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" rows="3" placeholder="Optional" name="description" value="{{room_form.description.value}}"></textarea>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-lg">Submit</button>
            </div>
            </form>
          </div>
        </div>
        <br>

        {%if room_form.errors %}
        <div class="alert alert-info alert-dismissable">
            {% for field in room_form %}
                {% if field.errors %}
                <i class="fa fa-coffee"></i>
                This is an <strong>{{field.label}} error</strong>{{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% endblock content %}