{% include 'base/base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">

    <div class="card">
  <div class="card-body">
    <a class="btn btn-dark" href="{% url 'create_room' %}" role="button">Create Room</a>
    <br>
    <br>
    <div class="row">
      
      
  <div class="col-sm-6">
    {% for room in rooms %}
    <div class="card border-info text-white bg-secondary mb-3" style="max-width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">{{room.room_name}}</h5> <a href="{% url 'room' room.pk %}"class="btn btn-light">join</a>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>  


  </div>
</div>

</div>
{% endblock content %}