{% extends 'base/base.html' %}
{% block content %}
<div class="col-md-6 offset-md-6">
    <h1>{{room.room_name|upper}}</h1>
    <p>{{room.description}}</p>
</div>
<div class="workspace-70">
    <div class="col-md-6">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for index, count in room_counts %}
    <tr>
      <th scope="row">{{index}}</th>
      <td>{{count.user.username}}</td>
      <td>{{count.raw_timesince|stringformat:"s"|slice:":-7" }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
    </div>
{% endblock content %}