{% include 'base/base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>{{room.room_name}}</h1>
    <p>{{room.description}}</p>
    <div class="card bg-light mb-3" style="max-width: 40rem;">
        <h1>Participants</h1>
        {% for participant in participants %}
        <div class="card-body">
            <a href="{% url 'profile' participant.pk %}" class="btn btn-light btn-lg">{{participant.username}}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}