{% extends 'base/base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>{{room.room_name|upper}}</h1>
    <p>{{room.description}}</p>
</div>
<div class="workspace-70">
    <div class="col-md-6">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for index, count in room_counts %}
    <tr>
      <th scope="row">{{index}}</th>
      <td>{{count.user.username}}</td>
      <td>{{count.raw_timesince|stringformat:"s"|slice:":-7" }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
    </div>
    <!-- backend UI goes here -->
</div>
<br>
<br>
<div class="col-md-6 offset-md-3">
    <div class="row">
        <div class="col-6">
            <div class="p-3 text-white text-center">

                <div class="card bg-light mb-3" style="max-width: 40rem;">
                    <h1>Participants</h1>
                    {% for participant in participants %}
                    <div class="card-body">
                        <a href="{% url 'profile' participant.pk %}"
                            class="btn btn-light btn-lg">{{participant.username|upper}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="p-3 text-white text-center">
                <div class="card bg-light mb-3" style="max-width: 40rem;">

                    
                    <div class="card-body">
                        {% if counting %}
                        <a href="{% url 'stop_counter' room.pk %}" class="btn btn-dark" data-mdb-ripple-init>Stop</a>
                        {% else %}
                        <a href="{% url 'start_counter' room.pk %}" class="btn btn-dark" data-mdb-ripple-init>Start</a>
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>
        {% endblock content %}